<template>
  <div class="game" :style="{'background-image': 'url(/images/' + location.url + ')' , 'background-position-x' :positionX + '%'}"
  >
    <div class="content">
      <h5 class="content-detail">{{location.content}}</h5>
    </div>
    <div class="btn-left btn-see-more">
      <img src="/images/back.png" alt="left"
      @click="seeMoreLeft" v-if="positionX > 24">
    </div>
    <div class="btn-reset">
      <img src="/images/reset.png" alt="" @click="resetGame">
      <p>Reset</p>
    </div>
    <div class="btn-right btn-see-more">
      <img src="/images/next.png" alt="right"
      @click="seeMoreRight" v-if="positionX < 86">
    </div>
    <div class="box-action" v-if="location.direction">
      <div class="to-left item" @click="gotoLeft()" v-if="location.direction.left">
        <img src="/images/left.png" alt="">
      </div>
      <div class="to-mid item" @click="gotoMid()" v-if="location.direction.center">
        <img src="/images/mid.png" alt="">
      </div>
      <div class="to-right item" @click="gotoRight()" v-if="location.direction.right">
        <img src="/images/right.png" alt="">
      </div>
      <div class="to-continue item" @click="conTinue()" v-if="location.direction.continue !==0">
        <img src="/images/right.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Home',
  data () {
    return {
      infoLocation: [],
      location: {},
      positionX: 50,
      idComBack: null
    }
  },
  components: {
  },
  created () {
    this.fetch()
  },
  mounted () {
  },
  methods: {
    fetch () {
      axios
      .get('data.json')
      .then(response => {
        this.infoLocation = response.data
        this.location = this.infoLocation[0]
      })
      .catch (console.log('Dont read data'))
    },
    // Action when click button continue move to the next position
    conTinue () {
      let idGoto = this.location.direction.continue
      this.location = this.infoLocation.filter(item => {
        return item.id == idGoto
      })[0]
      this.setPosition ()
    },
    // Action when click button moves to the position when left direction is selected
    gotoLeft () {
      let idGoto = this.location.direction.left
      this.location = this.infoLocation.filter(item => {
        return item.id == idGoto
      })[0]
      this.setPosition ()
    },
    // Action when click button moves to the position when right direction is selected
    gotoRight () {
      let idGoto = this.location.direction.right
      this.location = this.infoLocation.filter(item => {
        return item.id == idGoto
      })[0]
      this.setPosition ()
    },
    // Action when click button moves to the position when mid direction is selected
    gotoMid () {
      let idGoto = this.location.direction.center
      this.location = this.infoLocation.filter(item => {
        return item.id == idGoto
      })[0]
      this.setPosition ()
    },
    // Action when click button see more left move background images to left 25% 
    seeMoreLeft () {
      this.positionX -= 25
    },
    // Action when click button see more right move background images to right 25% 
    seeMoreRight () {
      this.positionX += 25
    },
    // Reset positionX to value defaut center
    setPosition () {
      this.positionX = 50
    },
    // Reset scenes to start 
    resetGame () {
      this.location = this.infoLocation[0]
      this.positionX = 50
    }
  }
}
</script>
