body {
  font-size: 16px;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:active, button:focus, button:hover {
  outline: none;
}

.game {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.game .content {
  position: absolute;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .content .content-detail {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 4px;
  max-width: 50%;
}

.game .box-action {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.game .box-action .item {
  cursor: pointer;
}

.game .box-action .item img {
  opacity: 0.7;
}

.game .box-action .item img:active, .game .box-action .item img:focus, .game .box-action .item img:hover {
  opacity: 1;
}

.game .box-action .item + .item {
  margin-left: 20px;
}

.game .btn-see-more {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.game .btn-see-more img {
  background-color: #f1e9e9;
  border-radius: 50%;
}

.game .btn-see-more.btn-left {
  left: 20px;
}

.game .btn-see-more.btn-right {
  right: 20px;
}

.game .btn-reset {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}

.game .btn-reset img {
  border-radius: 50%;
  width: 28px;
}

.game .btn-reset img:active, .game .btn-reset img:focus, .game .btn-reset img:hover {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.game .btn-reset p {
  color: white;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */