body {
    font-size: 16px;
    margin: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
button {
    border: none;
    &:active, &:focus, &:hover {
        outline: none;
    }
    border-radius: 3px;
    cursor: pointer;
}


.game {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100vw; height: 100vh;
    .content {
        position: absolute;
        top: 10vh;
        display: flex;
        width: 100%;
        justify-content: center;
        .content-detail {
            background-color: #333;
            color: white;
            padding: 15px;
            border-radius: 4px;
            max-width: 50%;
        }
    }
    .box-action {
        position: absolute;
        left: 20%;
        right: 20%;
        bottom: 30px;
        display: flex;
        justify-content: center;
        color: white;
        .item {
            cursor: pointer;
            img {
                opacity: 0.7;
                &:active, &:focus, &:hover {
                    opacity: 1;
                }        
            }
            +.item {
                margin-left: 20px;
            }
        }
    }
    .btn-see-more {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        z-index: 2;
        img {
            background-color: rgb(241, 233, 233);
            border-radius: 50%;
        }
        &.btn-left {
            left: 20px;
        }
        &.btn-right {
            right: 20px;
            
        }
    }
    .btn-reset {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 3;
        img {
             border-radius: 50%;
             width: 28px;
             &:active, &:focus, &:hover {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
        p {
            color: white;
            margin: 0;
        }
        
    }

}